:root {
	--AccentColorDarken: #242b66;
	--AccentColor: #0f59d5;
	--AccentColorLighten: rgb(173,216,230);
	--PressedButtom: rgb(255,140,0);
	--TimesButton: rgb(65,105,225);
	--AccountColor: rgb(240,128,128);
}