main {
	background-color: var(--AccentColorLighten);
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	padding: 10px;
	overflow: hidden;
}

.wrapper-day-of-week {
	margin: 20px;	
	animation-name: emergenceBlock;
	animation-duration: 1s;
	animation-iteration-count: 1;
	margin-top: 50px;
	margin-bottom: 50px;
}

@-webkit-keyframes emergenceBlock {
	0% {
		transform: translate(-100%);
	} 
	70% {
		transform: translate(10%);
	}
	100% {
		transform: translate(0);
	}
}

.wrapper-shifts {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.wrapper-day-of-week h3.name-of-day {
	margin: 0;
	padding: 30px;
	background-color: var(--AccentColor);
	border-radius: 15px;
	color: white;
	transition: 1s;
	animation-name: examplePressedButton;
	animation-duration: 1s;
	box-shadow: 0px 8px rgba(0,0,0,.5);
	cursor: pointer;
}

.wrapper-day-of-week h3.name-of-day:hover {
	background-color: var(--AccentColorDarken);
	box-shadow: 0px 3px rgba(0,0,0,.9);
	transform: translateY(5px);
}

@-webkit-keyframes examplePressedButton{
	80% {
		box-shadow: 0px 8px rgba(0,0,0,.5);
		transform: translateY(0px);
		background-color: var(--AccentColor);
		color: white;
	}
	85% {		
		box-shadow: 0px 3px rgba(0,0,0,.9);
		transform: translateY(5px);
		background-color: var(--PressedButtom);
		color: black;
	}
	100% {
		transform: translateY(0px);
		background-color: var(--AccentColor);
		box-shadow: 0px 8px rgba(0,0,0,.5);
		color: white;
	}
}

.shift {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 20px;
	font-size: 20px;
	grid-auto-flow: column;
}

.shift p.time{
	display: block;
	border: 2px solid black;
	place-self: center;
	width: 100%;
	letter-spacing: 1px;
	padding: 8px;
	border-radius: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: white;
	box-shadow: 0px 4px rgba(0,0,0,.5);
	background-color: var(--TimesButton);
	cursor: pointer;
	transition: 1s;
}

.shift p.time:hover {
	background-color: var(--AccentColorDarken);
	box-shadow: 0px 2px rgba(0,0,0,.5);
	transform: translateY(1px);
}

/* .shift p.time:nth-child(1),
.shift p.time:nth-child(2){
	animation-name: examplePressedButtonTime;
	animation-duration: 3.5s;
} */

@-webkit-keyframes examplePressedButtonTime{
	50% {
		box-shadow: 0px 4px rgba(0,0,0,.5);
		transform: translateY(0px);
		background-color: var(--TimesButton);
		color: white;
	}
	55% {		
		box-shadow: 0px 2px rgba(0,0,0,.5);
		transform: translateY(1px);
		background-color: var(--PressedButtom);
		color: black;
	}
	65% {
		transform: translateY(0px);
		background-color: var(--TimesButton);
		box-shadow: 0px 4px rgba(0,0,0,.5);
		color: white;
	}
	100% {
		transform: translateY(0px);
		background-color: var(--TimesButton);
		box-shadow: 0px 4px rgba(0,0,0,.5);
		color: white;
	}
}

.wrapper-shifts h4.title-shift {
	background-color: var(--AccentColor);
	letter-spacing: 1px;
	color: white;
	padding: 10px;
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 8px rgba(0,0,0,.5);
	animation: examplePressedButtonShift 2s;
	text-align: center;
	cursor: pointer;
	transition: 1s;
}



h4.title-shift span {
	font-size: 16px;
}

.wrapper-shifts h4.title-shift:hover {
	background-color: var(--AccentColorDarken);
	box-shadow: 0px 3px rgba(0,0,0,.9);
	transform: translateY(5px);
}

@-webkit-keyframes examplePressedButtonShift {
	80% {
		box-shadow: 0px 8px rgba(0,0,0,.5);
		transform: translateY(0px);
		background-color: var(--AccentColor);
		color: white;
	}
	85% {		
		box-shadow: 0px 3px rgba(0,0,0,.9);
		transform: translateY(5px);
		background-color: var(--PressedButtom);
		color: black;
	}
	95% {
		transform: translateY(0px);
		background-color: var(--AccentColor);
		box-shadow: 0px 8px rgba(0,0,0,.5);
		color: white;
	}
	100% {
		transform: translateY(0px);
		background-color: var(--TimesButton);
		box-shadow: 0px 8px rgba(0,0,0,.5);
		color: white;
	}
}

.wrapper-shifts .fa-sun-o {
	color: orange;
	margin-left: 15px;
	animation: rotatingSun 4s infinite linear, changeColor 2s; 
}

.wrapper-shifts .fa-moon-o {
	margin-left: 15px;
}

.wrapper-shifts .icon-evening {
	color: rgb(255,69,0);
} 

.wrapper-shifts h4.shift-evening-title img {
	height: 32px;
	margin-left: 15px;
}

@-webkit-keyframes changeColor {
	80% {
		color: orange;
	}
	85% {		
		color: black;
	}
	95% {
		color: orange;
	}
}

@-webkit-keyframes rotatingSun {
	100% {
		transform: rotate(360deg);
	}
}

.wrapper-shifts h4.title-shift span {
    display: flex;
	justify-content: center;
	margin-top: 12px;
}

.wrapper-shifts h4.title-shift span i {
	margin-right: 10px;
	font-size: 24px;
}