@media all and (min-width: 320px) {
	.shift {
		grid-gap: 10px;
	}
	.shift p.time {
		font-size: 13px;
		font-weight: bold;
		align-self: center;
	}
	.wrapper-shifts h4.title-shift{
		width: 95%;
		font-size: 24px;
	}

	.doctor-card {
		grid-template-columns: 1fr;
		grid-template-rows: auto;	
		grid-template-areas: 
			"d-icon"
			"d-icon"
			"d-icon"
			"d-icon"
			"title-d"
			"contat-i-f"
			"contat-i-s"
			"contat-i-t"
			"contat-i-fh"
			"contat-i-ff";
	}

	.doctor-card .contact-info:nth-child(5) {
		border: none;
	}
	.doctor-card .contact-info {
		font-size: 0.9em;
	}
}

@media all and (min-width: 320px) and (max-width: 375px) {
	aside h3.title-aside-card {
		font-size: 16px;
	}

	aside .contact-info {
		font-size: 10px;
	} 
}

@media all and (min-width: 320px) and (max-width: 768px) {
	footer .helps-link {
		flex-direction: column;
		justify-content: center;
	}

	footer .helps-link ul {
		order: 1;
	}

	.footer-item-social {
		order: 2;
		margin: auto;
	}

	.footer-item-social a {
		justify-items: center;
	}

	footer .helps-link span {
		order: 3;
		display: inline-block;
		margin: auto;
	}
}

@media all and (min-width: 375px) {
	.shift p.time {
		font-size: 16px;
	}
}

@media all and (min-width: 425px) {
	.shift p.time {
		font-size: 16px;
	}

	.button-submit {
		font-size: 30px;
	}

}	

@media all and (min-width: 768px) {
	.doctor-card {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;	
		grid-template-areas: 
			"d-icon contat-i-f"
			"d-icon contat-i-s"
			"d-icon contat-i-t"
			"d-icon contat-i-fh"
			"title-d contat-i-ff";
		justify-content: center;
	}

	.doctor-card .contact-info:nth-child(5) {
		border-bottom: 2px solid black;
	}

	.doctor-card .contact-info {
		font-size: 1.2em;
	}

	.button-submit {
		font-size: 40px;
	}

	.shift p.time {
		font-weight: bold;
		padding: 20px;
		font-size: 24px;
	}
    
	.wrapper-shifts h4.title-shift .fa-clock-o {
		font-size: 20px;
	}

	.sidenav {
		text-align: center;
	}

	.wrapper-attention {
		font-size: 20px;
	}

	.shift {
		grid-column-gap: 60px;
	}
}

@media all and (min-width: 1024px) {


	main .wrapper-shifts {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
			"d-shift-ttl e-shift-ttl n-shift-ttl"
			"d-shift e-shift n-shift"
			"d-shift e-shift n-shift";
		grid-column-gap: 55px;
		justify-content: space-between;
	}

	.wrapper-shifts h4.title-shift {
		width: 100%;
	}

	.wrapper-shifts h4.shift-day-title {
		grid-area: d-shift-ttl;
	}

	.wrapper-shifts h4.shift-evening-title {
		grid-area: e-shift-ttl;
	}

	.wrapper-shifts h4.shift-night-title {
		grid-area: n-shift-ttl;
	}
	
	.shift-day {
		grid-area: d-shift;
	}

	.shift-evening {
		grid-area: e-shift;
	}

	.shift-night {
		grid-area: n-shift;
	}

	.shift p.time {
		font-size:  15px;
		font-weight: bold;
		padding: 10px 2px 10px 2px;
		line-height: 40px;
	}
		
	.fixed-header-small-screens {
		display: none;
	}

	.shift {
		grid-column-gap: 30px;
	}

	.shift p.time {
		font-weight: bold;
		font-size: 15px;
	}
	.doctor-card {
		width: 70%;
	}
}

@media all and (min-width: 1024px) {
	.doctor-card {
		width: 50%;
	}

	.button-submit {
		width: 40%;
	}
}