@media all and (min-width: 320px) {
	.shift {
		grid-gap: 10px;
	}
	.shift p.time {
		font-size: 13px;
		font-weight: bold;
		align-self: center;
	}
	.wrapper-shifts h4.title-shift{
		width: 95%;
		font-size: 24px;
	}
}

@media all and (min-width: 375px) {
	.shift p.time {
		font-size: 16px;
	}
}

@media all and (min-width: 425px) {
	.shift p.time {
		font-size: 16px;
	}
}	

@media all and (min-width: 768px) {

	.shift p.time {
		font-weight: bold;
	}
    
	.wrapper-shifts h4.title-shift .fa-clock-o {
		font-size: 20px;
	}
}

@media all and (min-width: 1024px) {


	main .wrapper-shifts {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
			"d-shift-ttl e-shift-ttl n-shift-ttl"
			"d-shift e-shift n-shift"
			"d-shift e-shift n-shift";
		grid-column-gap: 55px;
		justify-content: space-between;
	}

	.wrapper-shifts h4.title-shift {
		width: 100%;
	}

	.wrapper-shifts h4.shift-day-title {
		grid-area: d-shift-ttl;
	}

	.wrapper-shifts h4.shift-evening-title {
		grid-area: e-shift-ttl;
	}

	.wrapper-shifts h4.shift-night-title {
		grid-area: n-shift-ttl;
	}
	
	.shift-day {
		grid-area: d-shift;
	}

	.shift-evening {
		grid-area: e-shift;
	}

	.shift-night {
		grid-area: n-shift;
	}

	.shift p.time {
		font-size:  15px;
		font-weight: bold;
		padding: 10px 2px 10px 2px;
		line-height: 40px;
	}

}